/* HTML5 Boilerplate  */



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }



html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }



::-moz-selection { background: #222; color: #fff; text-shadow: none; }

::selection { background: #222; color: #fff; text-shadow: none; }



a:focus { outline: none; }

a:hover, a:active { outline: 0; -moz-outline-style: none;}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 30px 0; padding: 0; }

ins { text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }



q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }



ul, ol { margin: 0; padding: 0; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }



img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }



form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }



label { cursor: pointer; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }

input:invalid, textarea:invalid { background-color: #f0dddd; }



.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


/***************************************************

  Font, colors, layout

***************************************************/



body, select, input, textarea { color: #4A4A4A; font: normal 16px/1.5em 'Average', Georgia, "Times New Roman", Times, serif;}

h1,h2,h3,h4,h5,h6 {margin: 0; font-weight: 100; font-family: 'Average',/*'Neuton',*/ Georgia, "Times New Roman", Times, serif; }

h1, .h1 {font-size: 48px; line-height: 1.3em; color: #4A4A4A; }

h2, .h2 {font-size: 32px; line-height: 1.3em;}

h3, .h3 {font-size: 24px; line-height: 1.3em;}

h4, .h4 {font-size: 24px; line-height: 1.3em;}

h5, .h5 {font-size: 18px; line-height: 1.3em;}

h6, .h6 {font-size: 14px; line-height: 1.3em;}



a {color: #23408f; text-decoration: none;}

/*a:visited {color: #486095;}*/

a:hover {text-decoration: underline;}

/*Brand blue: #23408F*/

.upper { text-transform: uppercase; }

.grey, .gray { color:#666; }

.ltgray {color: #888;}

.drkgray {color: #222;}

.drkgraylnk a:link,.drkgraylnk a:visited,.drkgraylnk a:hover,.drkgraylnk a:active  {color: #222;}

.center {margin: 0 auto;}

.hide {display: none;}

.right {text-align: right;}

.hr-half {
  border-bottom: 1px solid #23408F;
  width: 50%;
}

.btn {
  background-color: #23408F;
  color: #fff;
  padding: 10px 30px;
}
.btn:hover {
  background-color: #A37D2F;
  text-decoration: none;
}
.article-more-btn {
  float: right;
}

/* layout */

body {margin: 20px 0 0;}

.container {width: 1020px; position: relative;}

.primary {width: 680px; float: left; padding-bottom: 10px; background-color: #fff; min-height: 1020px;}
.flexbox .primary {min-height: 0}

.secondary {width: 340px; padding-right: 30px; float: left; background-color: #EEEEEE;}
.secondary ul {
  list-style: none;
}

.padded {
  padding: 0 20px;
}


/***************************************************

  Element Styling

***************************************************/

/* Grid */

.line:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}.lastUnit:after{content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}.line{*zoom:1;}

.unit,.menu-item{float:left;}

.size1of1{float:none;}.size1of2{width:50%;}.size1of3{width:33.33333%;}.size2of3{width:66.66666%;}.size1of4{width:25%;}.size3of4{width:75%;}.size1of5{width:20%;}.size2of5{width:40%;}.size3of5{width:60%;}.size4of5{width:80%;}.size7of10{width:70%;}.size3of10{width:30%;}.size1of10{width:10%;}

.lastUnit {display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}


.wrapper {
  /*padding: 0 20px;*/
}


/* media box - structure */

.media, .bd {/*overflow:hidden;*/ _overflow:visible; zoom:1;}

.media .img {float:left; margin-right: 30px;}

.media .img img{display:block;}





.header-title {padding-top: 15px;}

nav {width: 100%; background: #23408F; margin-top: 15px;}



nav li a {padding: 10px 15px; color: #fff; display: block; text-decoration: none; font-weight: lighter;}

nav li a:hover {background: #fff; color: #23408F; text-decoration: none;}

nav .selected a {background: #23408f; color: #fff;}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 200px;
  background-color: #23408F;
  box-shadow: 0px 2px 5px 0px #555;
}
.sub-menu .menu-item {
  float: none;
}
.menu-item-has-children {
  position: relative;
}
.menu-item-has-children:hover .sub-menu {
  display: block;
}
.content-header {margin-bottom: 10px; }
.content-header img {
  max-width: calc(100% + 20px);
}


.widget {margin-bottom: 20px; font-size: 92%; line-height: 1.6em;}

.widget-title {margin-bottom: 20px; font-size: 24px; font-weight: 100; font-family: 'Average'}

.widget li {margin-bottom: 10px; padding-bottom: 10px}

.sidebar-section {
  margin-bottom: 40px;
}


footer {border-top: 1px solid #999; padding-top: 15px;}

.textright {text-align: right;}

.header {
  clear: both;
}
.logo {
  display: block;
  float: left;
  padding-left: 20px;
}
.header-contact {
  float: left;
  margin-left: 106px;
  font-size: 25px;
}
.header-phone {
  margin-top: 25px;
}
.header-email {
  margin-top: 15px;
}
.emblem {
  margin-right: 20px;
}
.widget {
  font-size: 100%;
}
aside.secondary {
  padding: 20px;
  font-size: 16px;
}
.secondary .rsswidget {
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;

}
.page-title {
  margin-bottom: 20px;
  padding: 20px 0 0 20px;
}
.entry-content {
  padding: 20px;
}
.entry-content .page-title {
  padding: 0;
}


.widget_better_rss_widget li {
  margin: 0;
  padding: 0;
}
.widget_better_rss_widget li:after {
  border-bottom: 1px solid #23408F;
  width: 50%;
  content: '';
  display: block;
  padding: 30px 0 0;
  margin: 0 0 30px;
}
.post-img img {
  width: 100%;
}
.home-links {
  background-color: #FAFAFA;
  padding: 40px 20px;
}
.home-link-wrap {
  float: left;
  width: 50%;
  min-height: 90px;
}
.home-link-wrap:first-child {
  border-right: 1px solid #23408F;
  padding-right: 40px;
}
.home-link-wrap:last-child {
  padding-left: 40px;
}
.home-link {
  font-size: 24px;
  margin-bottom: 20px;
  display: inline-block;
}

.events {
  padding: 20px;
  margin: 40px 0;
}
.events-content {
  float: left;
}
.events-icon {
  display: block;
  float: left;
  margin-right: 40px;
}
.events-title {
  margin-bottom: 20px;
}
.events-list {
  margin-left: 20px;
}

.page-main-section {
  background-color: #eee;
}
.flexbox .page-main-section {
  display: flex;
}
.flexbox .page-main-section:before, .flexbox .page-main-section:after {
  display: none
}

.news-section {
  margin-bottom: 80px;
}
.news-section-title {
  border-bottom: 1px solid #23408F;
  margin-bottom: 20px;
}


.article-figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.article-title {
  font-size: 18px;
  width: 80%;
  padding-right: 20px;
  display: inline-block;
  margin-bottom: 10px;
}
.article-content {
  text-align: justify;
}
.date {
  color: #A37D2F;
  vertical-align: top;
  text-align: right;
  width: 20%;
  margin-left: -4px;
  display: inline-block;
}
/***************************************************

  Other Formats

***************************************************/



.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }

.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }



@media print {

  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }

  a, a:visited { text-decoration: underline; }

  a[href]:after { content: " (" attr(href) ")"; }

  abbr[title]:after { content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

  thead { display: table-header-group; }

  tr, img { page-break-inside: avoid; }

  img { max-width: 100% !important; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3 { page-break-after: avoid; }

}